/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="cookiless"] {
 position: fixed;
 width:100%;
 bottom:0;
 left:0;
 z-index: 10000;
 line-height: 24px;
}

/* Use native elements when you'd like to inherit some styles from the page. */
cloudflare-app[app="cookiless"] cookiless-div {
  width:100%;
  background-color: #000;
  color:#fff;
  padding:10px;
  text-align: center;
  display: block;
}
cloudflare-app[app="cookiless"] cookiless-div .iAccept {
  cursor: pointer;
  margin-left: 10px;
  color:#159CD8;

}
cloudflare-app[app="cf-auth-bar"] {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: .08em;
  pointer-events: none;
  text-transform: uppercase;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

cloudflare-app[app="cf-auth-bar"][data-horizontal-align="left"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
cloudflare-app[app="cf-auth-bar"][data-horizontal-align="left"] cf-content {
  border-radius: 0 0 .3em 0;
}

cloudflare-app[app="cf-auth-bar"][data-horizontal-align="center"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
cloudflare-app[app="cf-auth-bar"][data-horizontal-align="center"] cf-content {
  border-radius: 0 0 .3em .3em;
}

cloudflare-app[app="cf-auth-bar"][data-horizontal-align="right"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
cloudflare-app[app="cf-auth-bar"][data-horizontal-align="right"] cf-content {
  border-radius: 0 0 0 .3em;
}

cloudflare-app[app="cf-auth-bar"] cf-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 1em;
  line-height: 2.5;
  pointer-events: all;
}

cloudflare-app[app="cf-auth-bar"] cf-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

cloudflare-app[app="cf-auth-bar"] cf-entry {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

cloudflare-app[app="cf-auth-bar"] cf-entry + cf-entry {
  margin-left: 1em;
}

cloudflare-app[app="cf-auth-bar"] cf-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

cloudflare-app[app="cf-auth-bar"] a {
  text-decoration: none;
}

@media (min-width: 768px) {
  cloudflare-app[app="cf-auth-bar"] cf-entries + cf-actions {
    margin-left: 1em;
  }
}

@media (max-width: 768px) {
  cloudflare-app[app="cf-auth-bar"] {
    font-size: .9em !important;
  }

  cloudflare-app[app="cf-auth-bar"] cf-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    border-radius: 0 !important;
    width: 100% !important;
  }

  cloudflare-app[app="cf-auth-bar"] cf-entries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  cloudflare-app[app="cf-auth-bar"] cf-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  cloudflare-app[app="cf-auth-bar"] cf-actions a {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center;
  }
}

cloudflare-app[app="back-to-top-button"] {
  background: #ccc;
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  font-size: 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antaliased;
  font-style: normal;
  font-weight: normal;
  height: 75px;
  letter-spacing: 0;
  line-height: 75px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  tap-highlight-color: transparent;
  text-align: center;
  text-rendering: optimizeLegibility;
  transition: opacity .3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 75px;
  z-index: 7000;
}

cloudflare-app[app="back-to-top-button"][data-position^="top"] {
  top: 25px;
}

cloudflare-app[app="back-to-top-button"][data-position^="bottom"] {
  bottom: 25px;
}

cloudflare-app[app="back-to-top-button"][data-position$="left"] {
  left: 25px;
}

cloudflare-app[app="back-to-top-button"][data-position$="right"] {
  right: 25px;
}

cloudflare-app[app="back-to-top-button"]:hover {
  -webkit-filter: brightness(108%);
          filter: brightness(108%);
}

cloudflare-app[app="back-to-top-button"]:active {
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
}

cloudflare-app[app="back-to-top-button"][visibility="visible"] {
  pointer-events: all;
  opacity: 1;
}

cloudflare-app[app="back-to-top-button"][shape="rounded"] {
  border-radius: 5px;
}

cloudflare-app[app="back-to-top-button"][shape="circle"] {
  border-radius: 50%;
}

@media (max-width: 786px) {
  cloudflare-app[app="back-to-top-button"] {
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 50px;
    right: 10px;
    bottom: 10px;
  }

  cloudflare-app[app="back-to-top-button"][shape="rounded"] {
    border-radius: 3px;
  }

}

cloudflare-app[app="back-to-top-button"] .cloudflare-icon {
  bottom: 0;
  display: block;
  fill: #666666;
  fill: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
